# Local/private config goes in the include
[include]
        path = ~/.gitconfig.local
[hub]
        protocol = https
[alias]
        cma = commit --amend --no-edit
        d = diff
        psu = push -u origin HEAD
        s = status -sb
        cb = "!git checkout -b jcambass/$(date +'%Y-%m-%d')/$1 #"
	      myb = "!git branch -a | grep jcambass"
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        commentchar = $
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[user]
  name = Joel Ambass
  email = Jcambass@users.noreply.github.com
[github]
  user = Jcambass
